body{
  width: 350px;
  margin: 0;
  padding: 0;
}
.panel{
  margin-bottom: 0;
    padding-bottom: 20px;
}
.panel-primary {
    border-color: #c1c1c1;
}

.panel-heading{
    font: 16px;
}

h5{
  font-size: 20px;
    font-weight: bold;
}
